* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(46, 65, 88, 1);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

button {
    width: 431px;
    height: 155px;

    background: linear-gradient(180deg, #FF8DF4 0%, #9640DA 100%);
    border: 5px solid #000;
    border-radius: 20px;

    font-weight: 700;
    font-size: 40px;
    color: white;
}

.button:hover {
    box-shadow: 0px 0px 80px #9640DA ;
}

.button:active {
    transform:scale(0.98)
}
